
<div style="margin: auto; padding: 10px; height: 100%; background-color:#a6dbeb;">
    <div style="margin: auto; padding: 10px; width: 30%; height: 100%; background-color:#a6dbeb;">
        <div style="float: left; width: 100%; margin: 5px; padding: 15px; border: 1px solid #000; background-color: rgb(180, 226, 226);">
            <h3>Login</h3>
            <form action="/login" method="post" >
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="text" name="username" placeholder="User Name" style="margin:0 0 10px 0px;; width: 100%;" />
                <input type="text" name="password" placeholder="Password" style="margin:0 0 10px 0px;; width: 100%;" />
                <input type="submit" value="Login" style="cursor: pointer;" /> &nbsp; &nbsp; 
                <a href="/signup" >SignUp</a> &nbsp; &nbsp; &nbsp;
                <a href="/" >Back</a>
            </form>
        </div>
    </div>
</div>