<!DOCTYPE html>
<html>
<head>
  <style>
    th, td{
      padding: 4px 6px;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("button").click(function(){
        $("p").hide();
      });
    });
    </script>
</head>
<body>
<div style=" background-color: turquoise; min-height: 800px;">
    <div style="margin: auto; padding: 10px; width: 90%; height: 100%; background-color: turquoise;">
        <div style="width: 100%; margin: 20px; ">
            <div style="float: left; padding: 10px;">
                <a href="/" style="color: #000; font-weight:bold;">Home page with MVC</a> &nbsp; &nbsp; &nbsp;

                <% if(sessionData.isLoggedIn){  %>
                <a href="/item/list" style="color: #000;" >Article using Mysql Srquelize</a>            
                <% } %>
            </div>
            
        </div>
        <br />
        <div style="width: 100%; margin: 20px;;">