<%- include('../includes/header.ejs') %>
<div>
    <hr />
    <br />
    <h3>Item Details</h3>
    <a href="/item/add">Add Item</a>
    <form method="post" action="/item">
        <input type="" name="_csrf" value="<%= csrfToken %>">
        <table>
            <tr>
                <td>Title</td>
                <td>
                    <input type="text" name="title" value="Test" />
                </td>
            </tr>
            <tr>
                <td>Details</td>
                <td>
                    <textarea name="details"></textarea>
                </td>
            </tr>
            <tr>
                <td>Files</td>
                <td>
                    <input type="file" name="files" multiple />
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="hidden" name="status"  value="Created" />
                    <input type="submit" name="submit"  value="Save"  />
                    <input type="button" name="draft"   value="Save As Draft" onclick="" />
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    $( document ).ready(function() {
        //alert(4444);
    });
</script>
<%- include('../includes/footer.ejs') %>