<%- include('includes/header.ejs') %>
<div>
    <hr />
    <% if(sessionData.isLoggedIn){  %>
        <h2>Welcome <%= sessionData.user.fullname %></h2>
    <% }else{ %>
        <h2>Welcome</h2>
    <% } %>
</div>
<%- include('includes/footer.ejs') %>
