<h1>
    Home page with MVC : 
    <a href="/shop" style="color: #000;">Shop list using mongoDB </a> &nbsp; &nbsp; 
    <a href="/product/list" style="color: #000;">Product list using mongoose</a>
</h1>