<%- include('includes/header.ejs') %>
<div>
    <hr />
    <% if(sessionData.isLoggedIn){  %>
        <h2>Welcome <%= sessionData.user.fullname %></h2>
        
    <% }else{ %>
        <h2>Welcome Guest User</h2>
    <% } %>
    <div style="float: left; padding: 10px;">
        <% if(!sessionData.isLoggedIn){ %>
            <a href="/login" style="color: #000;">Logged In </a> &nbsp; &nbsp; 
        <% }else{ %>
            <a href="/logout" style="color: #000;">Logged Out </a> &nbsp; &nbsp; 
        <% } %>
    </div>
</div>
<%- include('includes/footer.ejs') %>
