
<div style="margin: auto; padding: 10px; height: 100%; background-color:blueviolet;">
    
    <div style="margin: auto; padding: 10px; width: 80%; height: 100%; background-color:blueviolet;">
        <h3>
            -: Shop Details Page :---
            <a href="/" style="color: #FFF;">Go to home page</a>
        </h3>

        Shop Name : <%= shopdata['name'] %><br />
        Shop Address : <%= shopdata['address'] %>
    </div>
</div>