
<div style="margin: auto; padding: 10px; height: 100%; background-color:blueviolet;">
    
    <div style="margin: auto; padding: 10px; width: 80%; height: 100%; background-color:blueviolet;">
        <h3>
            -: Shop Listing Page :-
            <a href="/" style="color: #FFF;">Go to home page</a>
        </h3>
        <div style="float: left; width: 20%; margin: 5px; padding: 15px; border: 1px solid #000; background-color: rgb(180, 226, 226);">
            <form action="/shop/add" method="post" >
            <input type="text" name="shopName" placeholder="Shop Name" style="margin:0 0 10px 0px;;" />
            <input type="text" name="shopAddress" placeholder="Shop Address" /> &nbsp; 
            <input type="submit" value="Save" />
            </form>
        </div>

        <% for (let shop of shoplist) { %>
            <div style="float: left; width: 20%; margin: 5px; padding: 15px; border: 1px solid #000; background-color: rgb(180, 226, 226);">
                <%= shop.name %><br />
                <%= shop.address %><br /><br />
                <a href="/shop/details" style="color: #111; ">View More</a>
            </div>
        <% } %>
    </div>
</div>